.button{
	-fx-background-color: Transparent;
	-fx-border-width: 2.0; 
	-fx-border-color: #072227;
     -fx-text-fill: #072227;
    -fx-font-weight: bold;
    -fx-font-size: 14px;
    -fx-transition-duration: 0.4s;
}

.button:hover{
	-fx-background-color: #072227;
	-fx-text-fill: #ffffff;
	}

.generalButton {
  -fx-text-fill: #c4daf2;
  -fx-font-size: 32;
  -fx-font-family: "Impact";
  -fx-background-color: #072227;
  -fx-border-color: #000000;
  -fx-opacity: 0.8;
}

.generalButton {
  -fx-background-color: linear-gradient(#000000, #072227);
  -fx-text-fill: #c4daf2;
  -fx-opacity: 0.8;
}

.errorMessagePane{
	 -fx-background-color: #994343;
	 -fx-font-family: "Malgun Gothic";
	 -fx-border-width: 4.0; 
	-fx-border-color: #072227;
	-fx-text-fill: #072227;
	-fx-font-size: 14px;
}

.errorMessage{
	-fx-text-fill: #072227;
	-fx-font-size: 30px;
	 -fx-font-family: "Malgun Gothic";
}

.bgPicture {
  -fx-background-image: url("../images/risk_Background.jpg");
  -fx-background-size: stretch;
  -fx-background-repeat: no-repeat;	
}

.hPane{
  -fx-background-color: #072227;
  -fx-opacity: 0.7;
}

.textLabel {
  -fx-font-size: 12;
  -fx-text-fill: #75151e;
  -fx-font-family: "Sitka Text";
}

.loginButton{
    -fx-margin:0;
    -fx-text-fill: #c4daf2;
    -fx-font-size: 24;
    -fx-text-decoration: underline;  
    -fx-background-color:none;
    -fx-border: 0px;
    -fx-padding:0px;
    -fx-cursor: pointer;
}

.backgroundColour{
  -fx-background-color:#99CDFF ;
  -fx-opacity: 0.5;
}



