.button {
  -fx-background-color: Transparent;
  -fx-border-width: 2.0;
  -fx-border-color: #072227;
  -fx-text-fill: #072227;
  -fx-font-weight: bold;
  -fx-font-size: 14px;
  -fx-transition-duration: 0.4s;
}

.button:hover {
  -fx-background-color: #072227;
  -fx-text-fill: #ffffff;
}

.backgroundPane {
  -fx-background-image: url("../images/risk_Background.jpg");
  -fx-background-size: stretch;
  -fx-background-repeat: no-repeat;
}

.backgroundColour {
  -fx-background-color: #99CDFF;
  -fx-opacity: 0.7;
}


.middleColourPane{
  -fx-background-color: #072227;
  -fx-opacity: 0.5;
}

.avatar {
  -fx-background-image: url("../images/avatar.png");
  -fx-background-size: stretch;
  -fx-background-position: center;
  -fx-background-repeat: no-repeat;
  -fx-border-color: grey;
  -fx-border-width: 2px;
}

.player1 {
  -fx-background-image: url("../images/icon_1.png");
  -fx-background-size: contain;
  -fx-background-position: center;
  -fx-background-repeat: no-repeat;
  -fx-border-color: grey;
  -fx-border-width: 2px;
}

.player2 {
  -fx-background-image: url("../images/icon_2.png");
  -fx-background-size: contain;
  -fx-background-position: center;
  -fx-background-repeat: no-repeat;
  -fx-border-color: grey;
  -fx-border-width: 2px;
}

.player3 {
  -fx-background-image: url("../images/icon_3.png");
  -fx-background-size: contain;
  -fx-background-position: center;
  -fx-background-repeat: no-repeat;
  -fx-border-color: grey;
  -fx-border-width: 2px;
}

.player4 {
  -fx-background-image: url("../images/icon_4.png");
  -fx-background-size: contain;
  -fx-background-position: center;
  -fx-background-repeat: no-repeat;
  -fx-border-color: grey;
  -fx-border-width: 2px;
}

.player5 {
  -fx-background-image: url("../images/icon_5.png");
  -fx-background-size: contain;
  -fx-background-position: center;
  -fx-background-repeat: no-repeat;
  -fx-border-color: grey;
  -fx-border-width: 2px;
}

.player6 {
  -fx-background-image: url("../images/icon_6.png");
  -fx-background-size: contain;
  -fx-background-position: center;
  -fx-background-repeat: no-repeat;
  -fx-border-color: grey;
  -fx-border-width: 2px;
}

.avatar:hover {
  -fx-border-color: white;
}

.player1:hover {
  -fx-border-color: white;
}

.player2:hover {
  -fx-border-color: white;
}

.player3:hover {
  -fx-border-color: white;
}

.player4:hover {
  -fx-border-color: white;
}

.player5:hover {
  -fx-border-color: white;
}

.player6:hover {
  -fx-border-color: white;
}

.avatarPanel {
  -fx-background-color: #072227;
  -fx-background-insets: 5 5 5 5;
  -fx-border-color: white;
  -fx-border-radius: 10px;
  -fx-border-width: 5px;
  -fx-border-style: outline;
}